<sidebar class="mobile-sidebar js-sidebar">
    <div class="mobile-sidebar__container js-sidebar-container">
      <div class="side-bar-top">
        <h2 class="name">Upshot</h2>
        <p class="slogan">One shot compilation system</p>
</div>
          <div class="side-bar-nav">
            <ul >
              <li>
                <a href="/" class="ripple"> Home</a>
              </li>
              <li>
                    <a href="/app">App</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
          </div>
          <div class="sidebar-footer">
            <p>Made with <i class="ion-heart note-001"></i> by DSC</p>
          </div>
    </div>
</sidebar>


    <div class="toaster-view js-toaster">
            <div class="toaster js-content"></div>
        </div>