<!DOCTYPE html>
<html lang="en">
    {% include "includes/head.html"%}
<body>
    <header class="header">
        <div class="header-panel">
            <nav class="navigator to-left">
                <ul>
                    <li>
						<button class="hamburgerBtn js-sidebar-toggle__button"> <i class="ion-navicon-round"></i> </button>
					</li>
                    <li>
                        <a href="#" class="logo"><h3>Upshot</h3></a>
                    </li>
                </ul>
            </nav>
            <nav class="navigator to-right">
                <ul>

                    <!-- <li>
                      <button class="btn compute__button js-compute__btn"><i class="ion-android-checkmark-circle"></i> Compute</button>
                    </li> -->
                </ul>
            </nav>
        </div>
     </header>

     {% include "includes/sidebar.html"%}

    <main class="main-layout content-main__layout">
        <section class="container">
            <div class="content">
                <h3 class="heading">About</h3>
                <p>An Application that compute results from multiple .csv files.</p>
            </div>
            <div class="content">
                <h3 class="heading">Solved By</h3>
                <p class="team"> < Team Upshot /> </p>
                <p>Akinola Ayodeji <a href="http://twitter.com/theDhejavu" target="_blank">@theDhejavu</a></p>
                <p>Abraham <a href="http://twitter.com/haibeey" target="_blank">@haibeey</a></p>
                <p>Alalade seun <a href="http://twitter.com/">@seun </a></p>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="flex center middle">
            <p>© 2019. Upshot.</p>
        </div>
    </footer>
</body>
<script src="/static/scripts/main.min.js"></script>
</html>
