<!DOCTYPE html>
<html lang="en">
    {% include "includes/head.html"%}
<body>
    <header class="header">
        <div class="header-panel">
            <nav class="navigator to-left">
                <ul>
                    <li>
						<button class="hamburgerBtn js-sidebar-toggle__button"> <i class="ion-navicon-round"></i> </button>
					</li>
                    <li>
                        <a href="#" class="logo"><h3>Upshot</h3></a>
                    </li>
                </ul>
            </nav>
            <nav class="navigator to-right">
                <ul>

                    <!-- <li>
                      <button class="btn compute__button js-compute__btn"><i class="ion-android-checkmark-circle"></i> Compute</button>
                    </li> -->
                </ul>
            </nav>
        </div>
     </header>

     {% include "includes/sidebar.html"%}

    <main class="main-layout readme-main__layout">
        <section class="container">
            <div class="content">
                <h3 class="heading">About</h3>
                <p>An Application that compute results from multiple .csv files.</p>
            </div>
            <div class="content">
                <h3 class="heading">Solved By</h3>
                <p class="team"> < Team Upshot /> </p>
                <p>Akinola Ayodeji <a href="http://twitter.com/iamayoakinola" target="_blank">@_isdejavu</a></p>
                <p>Abraham <a href="http://twitter.com/haibeey" target="_blank">@haibeey</a></p>
                <p>Alalade seun <a href="#">@seun </a></p>
            </div>
        </section>

        <div class="dialog compute__view js-compute__view">
                <div class="dialog-view__scroll">
                    <div class="compute-view__panel">
                        <div class="compute-view__container dialog-container js-dialog-container">
                            <div class="dialog-main">
                                <div class="dialog-top">
                                    <h4 class="heading"><i class="ion-ios-browsers-outline"></i> Compute</h4>
                                </div>
                                <div class="compute-form__container">
                                    <form method="POST" action="/projects/progress_new">
                                        <div class="field-wrap flex">
                                            <label class="field-icon" for=""> <i class="ion-ios-chatboxes"></i></label>
                                            <input type="text" name="title" placeholder="Title" class="field">
                                        </div>
                                        <div class="field-wrap flex">
                                            <label class="field-icon"><i class="ion-document-text"></i></label>
                                            <label for="files">
                                                <span class="choose-span"> Upload .csv file</span>
                                            </label>
                                            <input type="file" id="files" multiple hidden>
                                        </div>
                                        <div class="text-center dialog-bottom">
                                            <span class="js-dismiss btn">Dismiss</span>
                                            <button type="submit" class="js-okay btn btn-type-02" disabled>Compute</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <footer class="footer">
        <div class="flex center middle">
            <p>© 2018. Upshot.</p>
        </div>
    </footer>
</body>
<script src="/static/scripts/main.min.js"></script>
</html>
