<!DOCTYPE html>
<html lang="en">
    {% include "includes/head.html"%}
<body class="no-scroll">
    <header class="header">
        <div class="header-panel">
            <nav class="navigator to-left">
                <ul>
                    <li>
						<button class="hamburgerBtn js-sidebar-toggle__button"> <i class="ion-navicon-round"></i> </button>
					</li>
                    <li>
                        <a href="#" class="logo"><h3>Upshot</h3></a>
                    </li>
                </ul>
            </nav>
            <nav class="navigator to-right">
                <ul>
                    <li>
                      <button class="btn compute__button js-compute__btn"><i class="ion-android-checkmark-circle"></i> Compute</button>
                    </li>
                </ul>
            </nav>
        </div>
     </header>

     {% include "includes/sidebar.html"%}
    <main class="main-layout">
        <section class="main-section__layout ">
                <nav class="main-section__layout__nav ">
                        <ul class="main-nav__ul">
                            <li> <a href="#" class="active">Compiled Results</a></li>
                        </ul>
                        <ul class="nav-right to-right">
                            <button class="save-btn btn js-save__button" disabled> <i class="ion-android-clipboard"></i> Save</button>
                            <a class="download-link link js-download__link disabled" disabled><i class="ion-android-download"></i> Download</a>
                        </ul>
                    </nav>
                    <div class="container compilation-container js-compilation-container">

                    </div>

        </section>



        <div class="dialog compute__view js-compute__view">
            <div class="dialog-view__scroll">
                <div class="compute-view__panel">
                    <div class="compute-view__container dialog-container js-dialog-container">
                        <div class="dialog-main">
                                <div class="overlay-fade js-overlay" hidden>
                                        <div class="spinner-container js-spinner">
                                            <!-- <div class="spinner ">
                                                <svg viewBox="0 0 32 32" width="60" height="60">
                                                    <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
                                                </svg>
                                            </div> -->
                                        </div>
                                </div>
                            <div class="dialog-top">
                                <h4 class="heading"><i class="ion-ios-browsers-outline"></i> Compute</h4>
                            </div>
                            <div class="compute-form__container">
                                <form method="POST" action="{{ url_for('upload_result') }}" class="js-form-container"  enctype="multipart/form-data">
                                    <div class="field-wrap flex">
                                        <label class="field-icon" for=""> <i class="ion-ios-chatboxes"></i></label>
                                        <input type="text" name="title" placeholder="Title" class="field js-field">
                                    </div>
                                    <div class="field-wrap">
                                        <div class="flex">
                                            <label class="field-icon"><i class="ion-document-text"></i></label>
                                            <label for="files">
                                                <span class="choose-span">Choose .csv file</span>
                                            </label>
                                            <input type="file" id="files" name="csvfiles[]"  hidden accept=".csv" class="js-file-field" multiple="">

                                        </div>
                                        <ul class="csv-files js-csv-lists"></ul>
                                    </div>
                                    <div class="text-center dialog-bottom">
                                        <span class="js-dismiss btn">Dismiss</span>
                                        <button type="submit" class="btn btn-type-02 js-compute-btn" disabled>Compute</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert-dialog dialog js-alert-dialog">
                <div class="alert-dialog__panel">
                  <div class="alert-dialog__container dialog-container js-dialog-container">
                      <h3 class="title js-title"></h3>
                      <p class="message js-message"></p>
                      <div class="text-center dialog-bottom">
                        <button class="cancel-button js-cancel btn">Cancel</button>
                        <button class="okay-button js-okay btn btn-type-03">Okay</button>
                      </div>
                  </div>
                </div>
    </div>

    </main>
    <footer class="footer">
        <div class="flex center middle">
            <p>© 2019. Upshot.</p>
        </div>
    </footer>
</body>
<script src="/static/scripts/main.min.js"></script>
<script src="/static/scripts/app.min.js"></script>
</html>