<!DOCTYPE html>
<html lang="en">
	{% include "includes/head.html"%}
<body>
		<header class="header header-transparent js-header">
				<div class="header-panel">
					<nav class="navigator to-left">
						<ul>
							<li>
								<button class="hamburgerBtn js-sidebar-toggle__button"> <i class="ion-navicon-round"></i> </button>
							</li>
						</ul>
					</nav>
				</div>
			 </header>
			 {% include "includes/sidebar.html"%}
			<main class="">
				<section class="landing-hero">
						<div class="landing-hero__panel flex flex--wrap">
							<div class="col-ms-50">
								<div class="left-part__hero flex middle">
									<div class="content">
										<h1 class="heading">Upshot</h1>
										<p class="text">Your one shot compilation and results computation application</p>
										<a href="/app" class="link link-001">Open application</a>
										<a href="/about" class="link link-002">About</a>
									</div>
								</div>
							</div>
							<div class="col-ms-50">
									<div class="right-part__hero">
										<div class="phone-bg"></div>
									</div>
							</div>
						</div>
				</section>
			</main>
</body>
<script src="/static/scripts/main.min.js"></script>
</html>